# Udev rules for QHY CCD cameras
# QHY5, QHY6
#
# ---- Initial Release ----
# Clive Rogers.  2 May 2009
#
# Add rules for QHY2, QHY5, QHY6, QHY8
#
# ---- Modified by Thx8411 for qastrocam-g2 ----


# Camera inserted.
# Vendorid & Prodid: QHY VOTI

ACTION!="add", GOTO="qhy_vidpid_end"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="qhy_vidpid_test"
SUBSYSTEM!="usb_device", GOTO="qhy_vidpid_end"

LABEL="qhy_vidpid_test"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0901", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5LOADER.HEX -D $env{DEVNAME}"
SYSFS{idVendor}=="1618", SYSFS{idProduct}=="0901", RUN+="/bin/sleep 4"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0901", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5.HEX -D $env{DEVNAME}"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1002", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5LOADER.HEX -D $env{DEVNAME}"
SYSFS{idVendor}=="1618", SYSFS{idProduct}=="1002", RUN+="/bin/sleep 4"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1002", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5.HEX -D $env{DEVNAME}"

ATTRS{idVendor}=="0547", ATTRS{idProduct}=="1002", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5LOADER.HEX -D $env{DEVNAME}"
SYSFS{idVendor}=="0547", SYSFS{idProduct}=="1002", RUN+="/bin/sleep 4"
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="1002", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY5.HEX -D $env{DEVNAME}"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0259", RUN+="/sbin/fxload -t fx2 -I /usr/share/qastrocam-g2/qhy_driver/QHY6.HEX -D $env{DEVNAME}"

LABEL="qhy_vidpid_end"

# This is the ID presented once the firmware has been loaded.
# idVendor and idProduct match Cypress FX2 USB chips.

ACTION!="add", GOTO="qhy-rules-end"
SUBSYSTEMS=="usb", GOTO="qhy-vipi"
GOTO="qhy-rules-end"

LABEL="qhy-vipi"

ATTRS{modalias}=="usb:v16c0p296d*",OWNER="root", GROUP="video", MODE="0660", SYMLINK+="QHY5"

ATTRS{modalias}=="usb:v16c0p081d*",OWNER="root", GROUP="video", MODE="0660", SYMLINK+="QHY6"

LABEL="qhy-rules-end"
