BODY {
  color: #FFFCA4;
  background-color: black;
  comment-background-image: url("images/background.jpg");
}

P {
  color: #FFFCA4;
  background-color: black;
}

TABLE {
  border-width: 1 ;
  border-style: solid ;
  border-width: 3 2 2 3 ;
  border-color: #FFFCA4 #A9A752 #A9A752 #FFFCA4;
}

TH {
  border-color: #808080 #404040 #404040 #808080;
  border-width: 1 ;
  border-style: solid;
  color: #A0A0A0;
}

TD {
  border-color: #A9A752 #747321 #747321 #A9A752;
  border-width: 1 ;
  border-style: solid;
  color: #FFFCA4;
}

A:link {
   color: #FFB508;
   TEXT-DECORATION: none;
}

A:hover {
   color: #FFFCA4;
   TEXT-DECORATION: underline;
}

A:visited {
   color: #FFE01A;
   TEXT-DECORATION: none;
}